<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>portfolio</title>
    <link rel="stylesheet" href="{{url_for('static', filename='pro.css')}}">
  </head>
  <body>
    <div class="box">
      <h1>My portfolio</h1>
      <img src="{{url_for('static', filename='AJESH.jpg')}}" alt=""width="150">
      <h1>I AM AJESH VISWANATHAN</h1>
    </div>
    <div class="study">
      <h1>Education & Experience</h1>
        <p>Diploma in computer science and i skill html/css, After effect, photoshop and drawing pad </p>
    </div>
    <div class="Experience">
      <h1>Previous Works (Any works done)</h1>
      <p> I had 8 years Experience in bangalore</p>
    </div>
    <div class="contact">
      <h1>Contact</h1>
        <p> My mobile number is 9847874384(SMS)</p>
    </div>
  </body>
</html>
